.App {
  text-align: center;
}
.todolist{
   display: flex;
    
   border: 1px solid red;
   width: 300px;
   margin: auto;
   margin-top: 5px;
   padding: 2px;
}
.todolist>h3{
  margin: 0px ;
  margin-left: 80px;
}
.todolist>input{
  margin-top: 8px;
}

